.favorite-btn-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 8px;
}


.btn-favorite{
    margin-top: 20px;
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

#favorite-All{
    background-image: url('../images/allDone.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#favorite-meal{
    background-image: url('../images/melasTitle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#favorite-drink{
    background-image: url('../images/drinkTitle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-favorite-content{
    margin-top: 30px;
    background-color: #b32728;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px rgb(209, 203, 203);
}

.favorite-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.card-favorite{
    display: flex;
    justify-content: center;
}

.favorite-image{
    padding: 10px;
}

.favorite-image-card{
    display: flex;
    width: 340px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgb(209, 203, 203);
}

.btn-img-content{
    display: flex;
    flex-direction: row;
    width: 360px;
    justify-content: center;
}

.btn-share-img{
    display: flex;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    width: 30px;
    margin-right: 20px;
  }

.btn-favorite-img{
    display: flex;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    width: 30px;
  }

.favorite-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 300px;
    flex-wrap: wrap;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

.favorite-name a {
    color: #ffd312;
}