* {
  box-sizing: border-box;
  margin: 0;
}

.footer {
  align-items: center;
  background-color: #e5a78d;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
