

* {
        box-sizing: border-box;
        font-family: ' CustomFont', Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
}

#login-bg{
    background-image: url('../assets/bglogin.png');
    background-size: cover;
    height: 680px;
}

.container {
    display: flex;
    flex-direction: column;
}


.app-logo {
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

/* .title-logo {
    height: 500px;
    left: 19%;
    position: absolute;
    top: 170px;
} */

#login-title{
   display: flex;
   text-align: center;
   color: white;
}

.container-form {
    align-items: center;
    /* background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156); */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
}

.input-position {
    background-color: rgb(246, 238, 238);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.5em;
    text-align: center;
    width: 300px;
    color: rgb(0, 0, 0);
}

input:focus {
    outline-color: #b32728;
}

.btn-form {
    align-items: center;
    background-color: #b32728;
    border-radius: 0.25em;
    color: white;
    cursor: pointer;
    display: flex;
    height: 3em;
    justify-content: center;
    transition: 0.2s;
    width: 50%;
    height: 15%;
    margin-top: 15px;
    font-size: 15px;
    transition: 0.5 ease;
    border-radius: 10px;
}

.btn-form:active{
    transform: scale(1.10);
    background-color: #C7E34F;
}


.btn-form:disabled {
    background-color: #c8bebe;
}

.imgConfg {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    width: 250px;
    height: 400px;
    bottom: 50px;
}