.container-progress{
    display: flex;
    color: white;
    justify-content: center;
    justify-content: space-between;
}


.img-progress{
    display: flex;
    width: 100%;
    height: 280px;
    margin: auto;
    box-shadow: 1px 1px 2px 1px rgb(209, 203, 203);
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;
  }

#category-progress{
    text-transform: uppercase;
    color: #ffd312;
    width: 50px;
    height: 50px;
}

.name-progress{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 130px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px #b32728;
    height: 80px;
    width: 155px;
    margin-top: 100px;
    margin-left: 50px;
  }

.bnt-content{
    margin-left: 10%;
    height: 90px;
    width: 40px;
}

.btn-progress{
    display: flex;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    width: 30px;
  }

.ing-progress{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: #b32728;
    padding: 20px;
    border: 0.554397px solid #B1B1B1;
    border-radius: 5.35144px;
}

.aling-check{
    display: flex;
    justify-content: space-between;
}

.form-check-input{
    padding: 8px;
    margin-left: 10px;
    border: solid 1px #b32728;
}

.btn-finish{
    background-color: #b32728;
}

.btn-justify{
    display: flex;
    justify-content: center;
}

.btn:disabled{
    background-color: beige;
    color: #b32728;
    border: 0.5px solid #b32728;
}

.btn {
    border:#ffd312 1px solid;
}


  